:root {
    --color-blue: #004792;
    --color-red: #FA6C6C;
    --color-gray-light: #D9D9D9;
    --color-gray-dark: #877F7F;
    --color-black: #212529;
}

/* #region BODY */

body {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #c9c9c9;
}

/* In desktop we limit the size of the content so it looks good in all screen sizes */
@media (min-width: 768px) {
    body {
        margin: 10px auto;
        max-width: 1024px;
    }
}

/* #endregion BODY */


/* #region HEADER */

header {
    color: white;
    background-color: var(--color-blue);
    padding: 20px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

header p {
    font-size: 20px;
}

header a, header a:hover {
    color: white;
    text-decoration: none;
}

header ul li {
    margin-bottom: 10px;
}

header #personal-img {
    max-width: 200px;
}

/* In desktop we show the header diferent */
@media (min-width: 768px) {
    /* Increment the padding of the header and place the text at the left */
    header {
        padding: 20px 30px;
        text-align: left;
    }

    /* Show the list in 2 columns */
    header ul {
        columns: 2;
        gap: 10px;
    }

    /* Place the image at the right */
    header #personal-img {
        max-width: 150px;
        float: right;
    }
}

/* #endregion HEADER */


/* #region SECTION */

.sectionContainer {
    padding: 20px 15px;
}

section {
    margin-bottom: 15px;
}

section article {
    padding-top: 15px;
    border-top: 3px solid var(--color-blue);
}

/* In desktop we show the sections diferent */
@media (min-width: 768px) {
    /* Increment the padding of each section container */
    .sectionContainer {
        padding: 20px 30px;
    }
}

/* #endregion SECTION */


/* #region ITEM */

.item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.item span {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

.item i {
    background-color: var(--color-blue);
    padding: 10px 12px;
    border-radius: 100%;
}

.item a, .item a:hover {
    color: var(--color-blue);
    text-decoration: none;
}

.item .text-gray {
    color: var(--color-gray-dark);
}

/* Show the second level list with disc style  */
.item>ul>ul {
    list-style: disc;
}

/* Show the first li of the items in bold */
.item>ul>li:first-child {
    font-weight: bold;
}

/* #endregion ITEM */


/* #region SKILL */

.skill div {
    display: flex;
    gap: 10px;
    margin: 5px 0 15px;
}
.skill div .badge {
    padding: 10px 10px;
    color: var(--color-black);
    border: 1px solid var(--color-black);
    font-size: 13px;
    font-weight: normal;
}

/* #endregion SKILL */


/* #region LANGUAGE */

.language {
    margin-bottom: 20px;
}
.language .level {
    float: right;
}
.language .score {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}
.language .score .badge {
    width: 100%;
    height: 15px;
    border-radius: 0;
    color: var(--color-gray-light);
    background-color: var(--color-gray-light);
}
.language .score .badge.yes {
    color: var(--color-red);
    background-color: var(--color-red);
}

/* #endregion LANGUAGE */